.container.info-div
  h3 This is a simple app to help make a random choice from a list of possibilities
  ol
    li Enter choices in the field. They will be listed below
    li To edit choices, click on them in the list
    li Once two or more choices are present you will have the option to make a choice
    li To de-select a choice and remove it from possible selection,
    | click the red X next to it to toggle that selection
    li To reset and start over, click the reset button at the top of the list
    | of choices

  p That's all!
  .container
    a.back(href="#/") Back...
