.container(ng-controller='MainController')
  h1 Add Choices To Make A Random Selection...
  .container.row
    form.form-inline(ng-submit="submitChoice()")
      .form-group.col-md-6.col-lg-6.col-sm-6
        input.entry-input(type="text" ng-model="entry" placeholder="Enter choices..." required)
        input.submit-button(type="submit" value="Add it to the list...")
  options-list
  winner
