body
  background #777
  color lightblue

h1
  font-size 32px

input
  color #555

.submit-button
  background lightblue
  border none
  color #777

.entry
  background white
  color #555
  display inline-block
  width 30%
  height 30px
  margin-top 15px
  border-radius 10px
  padding-top 5px
  padding-left 10px

input[type=checkbox]
  display none

.delete-item
  color #fff
  font-size 27px
  background tomato
  display inline-block
  border none
  border-radius 6px
  width 30px
  height 30px
  padding 2px
  margin-left 4px
  top 7px

.delete-item:hover
  cursor pointer
  color tomato
  background #fff

.delete-item:active
  top 9px

.choose
  background lightblue
  color #777
  margin-top 15px

.the-choice
  background white
  color #555
  border-radius 10px
  width 60%

.active-false
  text-decoration line-through
  background tomato
  color white
